@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0f172a;
  --color-secondary: #334155;
  --color-primary-bg: #e2e8f0;
  --color-secondary-bg: #cbd5e1;
  --color-input-bg: #ffffff;
}

.dark {
  --color-primary: #e2e8f0;
  --color-secondary: #94a3b8;
  --color-primary-bg: #334155;
  --color-secondary-bg: #475569;
  --color-input-bg: #1e293b;
}
